</<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="currencyApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.js"></script>
		<script src="app.js"></script>
		<script src="currency.service.js"></script>
		<script src="currency.controller.js"></script>
    <script src="jQuery.min.js"></script>
    <script src="bootstrap-formhelpers-countries.js"></script>
    <script src="bootstrap-formhelpers.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <title></title>
  </head>
  <body>
    <img src="CurrencyFair_Logo.png"></img>
    <div ng-controller="currencyCtrl">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <p class="h3">View Message</p>
          <ul class='list-group'>
            <li  class='list-group-item' ng-repeat="" ng-click="">
                  <span></span>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </body>
</html>
